.box{
     margin-bottom: 30px;
    width: 100px;
    height: 100px;
    background-color: rgb(250, 241, 241);
   
}


.red{
   margin-bottom: 30px;
   width: 150px;
   height: 100px;
   background-color: rgb(243, 0, 0);
  
}


.blue{
    margin-bottom: 30px;
    width:75px;
    height:75px;
    background-color: rgb(0, 24, 243);
   
 }

.yellow{
    margin-bottom: 30px;
    width:75px;
    height:75px;
    background-color: rgb(94, 97, 126);
   
 }